doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title= "idk"
        link(href='/shared_back/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='/shared_back/css/index.css', rel='stylesheet', type='text/css')
        script(src='https://www.promisejs.org/polyfills/promise-7.0.1.min.js')
        script(src='/shared_back/js/jquery-1.11.3.min.js')
        script(src='/shared_back/js/defaults.js', type='text/javascript')
        //script(src='/parolee/js/defaults.js', type='text/javascript')
        
block content