.graph-object
  .graph-overlay
    .graph-stat !{Math.floor(user.exp/100)} Level
    .graph-stat !{user.courses_active.length + user.courses_completed.length} Courses
    .graph-stat !{user.exp} Experience
  .graph-content
subheader
    .sub-traversal
        .sub-button.selected Current Courses
        .sub-button New Courses
        .sub-button Completed Courses
.lower-content


// .stat_row
//     ul
//         li Level
//         li Courses
//         li Completed Lessons
    
//     .stat_row
//       ul.list-unstyled
//         li
//           a.btn-2(href='#') Best Subjects
//         li
//           a.btn-2(href='#') Subjects to Review
//     hr
//     .row
//       .col-2
//         font(color='#6cc53b') Excellent
//         br
//         p (At least 90% in course)
//       .col-10
//         | Mathematics 
//         p You are on fire! Employers will notice this first on your resume!
//         ul.list-unstyled
//           li
//             a.btn-3(href='#') See where I can improve
//           li
//             a.btn-4(href='#') See where my strengths are